---
import Base from '../layouts/Base.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Letter from '../components/Letter.astro'
import Map from '../components/Map.astro'
import Program from '../components/Program.astro'
import DressCode from '../components/DressCode.astro'
import Countdown from '../components/Countdown.astro'
import Rsvp from '../components/Rsvp.astro'
import Footer from '../components/Footer.astro'
import MusicUI from '../components/MusicUI.astro'
---

<Base>
  <div class="page">
    <Header />
    <main>
      <Hero />
      <Letter />
      <Map />
      <Program />
      <DressCode />
      <Countdown />
      <Rsvp />
    </main>
    <Footer />
  </div>
  <MusicUI />
</Base>
